extends layout

block content
   h1 Passageiro: #{passageiro.pas_nome}
  
    
   
   p #[strong CPF:] #{passageiro.pas_cpf}
   p #[strong Data Nascimento:] #{passageiro.pas_dtnascimento}
   p #[strong Sexo:] #{passageiro.pas_sexo}
  
    